@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--light-gray: theme('colors.lightGray');
		--light-cyan: theme('colors.lightCyan');
		--range-track-height: 8px;
		--range-track-height-big: 15px;
		--slider-thumb-size: 40px;
		--slider-thumb-size-big: 80px;
		--slider-thumb-margin-top: -15px;
		--slider-thumb-margin-top-big: -35px;
		--slider-thumb-brightness: brightness(90%);
		--slider-thumb-transition: all 0.08s ease;
		--slider-thumb-background: theme('colors.strongCyan') url('/assets/images/icon-slider.svg') center no-repeat;
		--slider-thumb-background-big: theme('colors.strongCyan') url('/assets/images/icon-slider.svg') center/55% no-repeat;
		--slider-thumb-box-shadow: 0 15px 40px 0 theme('colors.strongCyan');
	}
}

@layer components {
	.range-input {
		-webkit-appearance: none;
		appearance: none;
		border-radius: 999px;
	}

	.range-input::-webkit-slider-runnable-track {
		height: var(--range-track-height);
	}

	.range-input::-moz-range-track {
		height: var(--range-track-height);
	}

	.range-input::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		border-radius: 100%;
		cursor: pointer;
		height: var(--slider-thumb-size);
		width: var(--slider-thumb-size);
		background: var(--slider-thumb-background);
		margin-top: var(--slider-thumb-margin-top);
		box-shadow: var(--slider-thumb-box-shadow);
	}

	.range-input::-moz-range-thumb {
		-webkit-appearance: none;
		appearance: none;
		border-radius: 100%;
		cursor: pointer;
		height: var(--slider-thumb-size);
		width: var(--slider-thumb-size);
		background: var(--slider-thumb-background);
		margin-top: var(--slider-thumb-margin-top);
		box-shadow: var(--slider-thumb-box-shadow);
	}

	.range-input::-webkit-slider-thumb:hover {
		filter: var(--slider-thumb-brightness);
		transition: var(--slider-thumb-transition);
	}

	.range-input::-moz-range-thumb:hover {
		filter: var(--slider-thumb-brightness);
		transition: var(--slider-thumb-transition);
	}

	@media (max-width: 1024px) {
		.range-input::-webkit-slider-runnable-track {
			height: var(--range-track-height-big);
		}

		.range-input::-moz-range-track {
			height: var(--range-track-height-big);
		}

		.range-input::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			border-radius: 100%;
			cursor: pointer;
			height: var(--slider-thumb-size-big);
			width: var(--slider-thumb-size-big);
			background: var(--slider-thumb-background-big);
			margin-top: var(--slider-thumb-margin-top-big);
			box-shadow: var(--slider-thumb-box-shadow);
		}

		.range-input::-moz-range-thumb {
			-webkit-appearance: none;
			appearance: none;
			border-radius: 100%;
			cursor: pointer;
			height: var(--slider-thumb-size-big);
			width: var(--slider-thumb-size-big);
			background: var(--slider-thumb-background-big);
			margin-top: var(--slider-thumb-margin-top-big);
			box-shadow: var(--slider-thumb-box-shadow);
		}
	}
}
